<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark" >
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">Student Management</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center">Create New Student</h1>
                <div class="card-body">
                    <form th:action="@{/students}" th:object="${student}" method="POST">
                        <div class="form-group">
                            <label>Student First Name</label>
                            <input
                                    type="text"
                                    name="firstName"
                                    th:field="*{firstName}"
                                    class="form-control"
                                    placeholder="Enter Student First Name"/>
                        </div>
                        <div class="form-group">
                            <label>Student Last Name</label>
                            <input
                                    type="text"
                                    name="lastName"
                                    th:field="*{lastName}"
                                    class="form-control"
                                    placeholder="Enter Student Last Name"/>
                        </div>
                        <div class="form-group">
                            <label>Student Email</label>
                            <input
                                    type="text"
                                    name="email"
                                    th:field="*{email}"
                                    class="form-control"
                                    placeholder="Enter Student Email"/>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>